<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOKI - SignUP</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logoSite.png">
    <link rel="stylesheet" href="../css/loginstyle.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    
</head>

<body class="body">
    <div class="login-dark">
        <form	 th:action="@{register_success}" th:object="${user}" method="post">
			<div class="logo mb-3 text-center">
				<h1>Sign Up</h1>
			</div>
			<br>
            <div class="form-group">
            	<input class="form-control" type="text" name="Fist name" placeholder="First name" th:field="*{first_name}" required th:minlength = "2" >
            </div>
            <div class="form-group">
            	<input class="form-control" type="text" name="Last name" placeholder="Last name" th:field="*{last_name}" required th:minlength = "2">
            </div>
            <div class="form-group">
            	<input class="form-control" type="email" name="email" placeholder="Email"  th:field="*{email}" required >
            </div>
            <div class="form-group">
            	<input class="form-control" type="password" name="password" placeholder="Password" th:field="*{password}" required>
            </div>
                  	
            <div class="form-group">
                              <p class="text-center">By signing up you accept our <a href="../documents/LokiTerms.pdf" target="_blank">Terms Of Use</a></p>
                           </div>
          
            <div class="form-group">
            	<button class="btn btn-primary btn-block" type="submit">Get started</button>
                <p class="text-center"> <a th:href="@{/login}" class="signup">SIGN IN</a></p>
            </div>
        </form>
    </div>
</body>

<footer class="footer">
        <div class="row">
            <div class="col-md-12"> @ 2020-2021 Copyright : Predictive-solution.com </div>
        </div>
</footer>
</html>